@import "normalize";
@import "fonts";
@import "animate";
@import "mixins";
@import "grids";

$test_bg: #efefef;

/* Main styles */

html{
	font-size: 62.5%; /* = 10px */
}

html, body{
	height: 100%;
}

body{
	font: 14px "Open Sans";
	color: #ebecee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #000 url(../i/moto.jpg) no-repeat 0 0;
}

a{
	color: #FF7437;
}

a:hover{
	text-decoration: none;	
}

.wrp{
	width: 1000px;
	margin: 0 auto;
}

header{
	padding: 20px 0;
	position: relative;

	.logo{
		@include fontsize(4.4);
	}
}

main{
	min-height: 600px;
}

footer{
	margin: 90px 0 0;
	padding: 40px 0;
	background: #360309;
	min-height: 200px;
}

input,
textarea,
button{
    outline:none;
}

input{
	width: 100%;
	height: 35px;
	border: 1px solid #efefef;
	margin: 0 0 10px 0;
	@include border-radius(3px);
}


/* BEM styles */

.logo{
	text-decoration: none;
	font: 50px 'Russo One', sans-serif;

	&-wrp{
		text-align: center;
	}
}

.title{
	font: 50px 'Russo One', sans-serif;
	color: #ebecee;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 40px 0;
	text-shadow: 0px 0px 15px #880D1B;
}

.tels{
	position: absolute;
	top: 35px;
	right: 0;

	&__item{

	}
}

nav{
	text-align: center;
	margin: 30px 0 0;

	ul{
		margin: 0;
		padding: 0;

		li{
			display: inline;
			list-style: none;
			margin: 0 0 0 20px;

			a{
				color: #ebecee;
				text-transform: uppercase;
				font-size: 18px;
				letter-spacing: 1px;
				font-family: 'Russo One', sans-serif;
				text-decoration: none;
				transition: all .3s;
				-webkit-transition: all .3s;

				&:hover{
					color: #FF7437;
				}
			}
		}
	}
}

.services{
	margin: 20px 0 0;
	padding: 40px 20px;
	background: #252525;
	border-top: 4px solid #360309;

	&__item{
		display: inline-block;
		vertical-align: top;
		width: 33%;
		box-sizing: border-box;
		text-align: center;
		margin: 0 0 50px 0;

		&-icon{
			margin: auto;
			overflow: hidden;

			img{
				width: 90%;
			}
		}

		&-name{
			font-size: 22px;
			font-family: 'Russo One', sans-serif;
			letter-spacing: 1px;
			color: #FF7437;
			margin: 15px 0 20px 0;
		}
		&-desc{
			text-align: left;
			padding: 0 20px;
			line-height: 20px;
		}
	}
}

.interview{
	margin: 20px 0 0;
	padding: 40px 40px;
	background: #252525;
	border-top: 4px solid #360309;

	&__item{
		display: table;
		clear: both;
		margin: 0 0 50px 0;

		&-pic{
			width: 25%;
			display: inline-block;
			vertical-align: middle;
			
			img{
				@include radius;
			}
		}

		&-info{
			width: 74%;
			display: inline-block;
			vertical-align: middle;
			padding: 0 30px 0 0;
			box-sizing: border-box;
		}

		&-name{
			font-size: 28px;
			color: #FF7437;
			margin: 0 0 5px 0;
		}

		&-desc{
			color: #fff;
			font-size: 12px;
			font-style: italic;
			font-family: Helvetica;
		}
	}
}

.f-box{
	width: 33%;
	display: inline-block;

	.title{
		font-size: 24px;
		text-align: left;
	}

	&__content{
		padding: 0 40px;
	}
}

