	@import "normalize";
@import "fonts";
@import "animate";
@import "mixins";
@import "grids";

$test_bg: #efefef;

/* Main styles */

html{
	font-size: 62.5%; /* = 10px */
}

html, body{
	height: 100%;
}

body{
	font: 14px "Open Sans";
	color: #ebecee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #000;
}

a{
	color: #FF7437;
}

a:hover{
	text-decoration: none;	
}

.wrp{
	width: 1000px;
	margin: 0 auto;
}

header{
	height: 85px;
	position: absolute;
	width: 100%;
	z-index: 100;
	background: #000;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 1);
}

main{
	min-height: 600px;
}

footer{
	background: #000;
	height: 200px;
}

input,
textarea,
button{
    outline:none;
}

input{
	width: 100%;
	height: 35px;
	border: 1px solid #efefef;
	margin: 0 0 10px 0;
	@include border-radius(3px);
}

h3.title{
	font: 48px "Russo One";
	font-weight: bold;
	color: #000;
	text-align: center;
	padding: 40px 0;
	margin: 0;
	text-transform: uppercase;

	&.white{
		color: #fff;
	}
}

.btn{
	display: block;
	width: 195px;
	height: 50px;
	background: rgba(255, 255, 255, 0.4);
	margin: 20px auto;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font: 16px "Myriad Pro";
	font-weight: bold;
	border: 3px solid #000;
	text-decoration: none;
	line-height: 56px;
	transition: all .5s;
	-webkit-transition: all .5s;

	&:hover{
		background: #000;
		color: #fff;
	}
}

/* BEM styles */

nav{
	float: right;

	ul{
		padding: 0;
		margin: 35px 0 0;

		li{
			list-style: none;
			display: inline;
			margin: 0 0 0 15px;

			a{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 18px;
				font-family: "Poiret One";
				font-weight: 100;
				transition: all .3s;
				-webkit-transition: all .3s;

				&:hover{
					color: #ff9c00;
				}
			}
		}
	}
}

.services{
	min-height: 900px;
}

.interview{
	height: 1280px;
	background: url(../i/interview_bg.jpg) center 0 no-repeat;

	&__masonry{
		width: 1020px;
		margin: 0 -20px 0 0;
	}

	&__item{
		float: left;
		width: 320px;
		background: rgba(255, 255, 255, 0.8);
		padding: 10px;
		margin: 0 20px 20px 0;
		box-sizing: border-box;	
		-webkit-box-shadow: 0px 0px 5px 1px rgba(50, 50, 50, 0.75);
		-moz-box-shadow:    0px 0px 5px 1px rgba(50, 50, 50, 0.75);
		box-shadow:         0px 0px 5px 1px rgba(50, 50, 50, 0.75);

		&:nth-child(3n+3){
			margin-right: 0;
		}
	}

	&__title{
		font: 24px "Myriad Pro";
		line-height: auto;
		color: #000;
		margin: 10px 0 5px 0;
	}

	&__desc{
		color: #000;
		font-size: 14px;
		line-height: 20px;
	}
}

.social-share{
	text-align: center;
	
	&__text{
		color: #000;
		font-size: 14px "Myriad Pro";
		font-weight: bold;
		margin: 0 0 10px 0;
		text-transform: uppercase;
	}

	img{
		width: 40px;
		height: 40px;
		margin: 0 2px;

		&:hover{
			opacity: .7;
			cursor: pointer;
		}
	}
}

.slider{

	&__title{
		position: absolute;
		top: 50%;
		left: 10%;
		
		span{
			font: 60px "Open Sans";
			font-weight: bold;
			text-transform: uppercase;
			background: #000;
			padding: 10px 20px;
			line-height: 103px;
		}
	}

	.btn{
		margin: 20px 0 0;
	}
}



